<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        <ul>
          <% @addresses.each do |addr| %>
          <li><%= "#{addr.lat}, #{addr.lng}, #{addr.full_address}, #{addr.miles_to(@target)}" %></li>
          <% end %>
        </ul>
      </h1>
    </div>
  </div>
</div>
